#input_books{
	background-color: lightgrey;
	width: 60%;
	left: 50%;


}

#prot_label{
	text-align: left;
	font: bold 17px/26px Georgia, serif;
}

#book_label{
	text-align: left;
	font: bold 17px/26px Georgia, serif;
}

#edit_container{
	background-color: lightgrey;
	height: 600px;
	overflow: scroll;
	width: 100vw;

}

#buttonbar{
	background-color: black;
	height: 100%;
}

#render{
	background-color: green;
	height: 70px;
	padding-top: 5px;
	width: 80%;
}

#edit{
	width: 55%;
	left: 0px;
}
#delete{
	width: 15%;
	right: 0px;
}

.buttons_wrapper{
	width: 100%;
	height: 50px;
}

.book_row{
	right: 0px;
	width: 100%;
	background-color: red;
	height: 40px;
}

.list-group-item{
	height: 100px;
}
